<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Enter your task:</h2>
            <input name="task" class="input" id="task" type="text" placeholder="Your Task" autocomplete="off">
            <br>
            <br>
            <button type="submit" id="send" onclick="send()">ADD</button>
    </div>
    <div id="display"></div>
    <script>
        function send(){
            location.reload(true);
            var task = document.getElementById("task");
            if(task.value===""){
                return;
            }
            fetch("/",{
                method:"POST",
                headers:{
                    'Content-Type':"application/json"
                },
                body: JSON.stringify(task.value)
            })
            location.reload();
        }
        var list = {{ l|tojson|safe }};
        let len = list.length;
        console.log(len)
        for(let i=0;i<len;i++){
            console.log(list[i])
            content = `
            <li style=" padding: 5px; font-size:2em; text-align: left;"><span>${list[i]}</span><span id="time";"><button id="b" onclick="done()">Done</button><button id="b" onclick="remove()">Remove</button></span></li>
            `
            document.getElementById("display").innerHTML+=content;
            task.value="";
            }
    </script>
</body>
</html>